@font-face {
    font-family: "DSEG7";
    src: url("../../assets/fonts/DSEG7Classic-Regular.ttf") format("truetype")
}

body {
    font-family: sans-serif;
    background-color: #9db4ac;
    color: #d6ecdf
}

table {
    border-collapse: collapse;
}

tr {
    border: solid;
    border-width: 1px 0;
}

table tr:last-child {
    border: none;
}

td {
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.rally-block {
    padding-left: 1%;
}

.game-block {
    padding-left: 1%;
}

.hidden {
    display: none
}

.stages-list {
    user-select: none;
}

.stages-list table {
    width: 100%;
}

.stages-list li:nth-of-type(1) {
    border-top: 2px solid #d6ecdf;
}

.stages-list li {
    padding: 5px;
    border-bottom: 2px solid #d6ecdf;
    margin: 5px;
    overflow-x: auto;
}

.stages-list li p {
    margin: 0.2em;
}

.stages-list li p:hover {
    color: #fcfffe;
}

tbody .time-column,
tbody .sectors-column{
    font-family: "DSEG7";
}

.best-sector {
    color: #fcfffe;
}

.rally-table .sectors-column,
.ss-table .sectors-column {
    display: none
}

.sectors-column {
    width: 1px;
}

.sector-span {
    margin-left: 5px;
    margin-right: 5px;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: larger;
}

td.player-column {
    font-family: monospace;
}

span.expander {
    font-family: monospace;
    padding-left: 1em;
}

span.expander:after {
    content: '[+]'
}

span.expander.expand:after {
    content: '[-]'
}