@font-face {
    font-family: "DSEG7";
    src: url("../../assets/fonts/DSEG7Classic-Regular.ttf") format("truetype")
}

body {
    font-family: sans-serif;
    background-color: #9db4ac;
    color: #d6ecdf
}

td {
    padding-top: 5px;
}

.rally-block {
    padding-left: 1%;
}

.game-block {
    padding-left: 1%;
}

.hidden {
    display: none
}

.stages-list {
    user-select: none;
}

.stages-list table {
    width: 100%;
}

.stages-list li {
    padding: 5px;
    border-bottom: 2px solid #d6ecdf;
    margin: 5px;
    overflow-x: auto;
}

.stages-list li:hover {
    color: #fcfffe;
}

tbody .time-column,
tbody .sectors-column{
    font-family: "DSEG7";
}

.best-sector {
    color: #fcfffe;
}

.rally-table .sectors-column,
.ss-table .sectors-column {
    display: none
}

.sectors-column {
    width: 1px;
}

.sector-span {
    margin-left: 5px;
    margin-right: 5px;
}