@font-face {
    font-family: "DSEG7";
    src: url("assets/fonts/DSEG7Classic-Regular.ttf") format("truetype")
}

body {
    font-family: serif;
    background-color: lightgray;
}

table {
    border: 2px solid darkgray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

th, td {
    border: 1px solid darkgray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

td {
    padding-top: 5px;
}

.timing {
    font-family: "DSEG7";
    background-color: black;
    color: red;
    text-shadow: 0 0 4px yellow;
}

.rally-block {
    padding-left: 1%;
}

.game-block {
    padding-left: 1%;
}

.hidden {
    display: none
}

.stages-list {
    user-select: none;
}

.stages-list table {
    width: 100%;
}

.stages-list li {
    padding: 5px;
    border: 2px solid darkgray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    margin: 5px;
}